@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Creepster&family=Kalam:wght@300;400;700&display=swap");

html,
body {
  background: rgb(0, 83, 98);
  background: linear-gradient(
    90deg,
    rgba(0, 83, 98, 1) 0%,
    rgba(0, 140, 166, 1) 50%,
    rgba(0, 83, 98, 1) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.favImage {
  width: 500px;
}
